<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link  href="{% static 'css/style.css' %}" rel="stylesheet"/>
  <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
</head>
<body>
	<!--
		This component uses @tailwindcss/forms

		yarn add @tailwindcss/forms
		npm install @tailwindcss/forms

		plugins: [require('@tailwindcss/forms')]
	-->

	<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
		<div class="flex-col mx-auto max-w-lg ">
			<img
				class="mx-auto h-10"
				src="../../static/assets/logo.png"
			/>
			<p class="mx-auto mt-4 max-w-md text-center text-gray-500">
				Escape the city and immerse yourself in this peaceful Agriãtra with us.
			</p>

			<button
				type="submit"
				class="mt-10 block w-full rounded-lg h-16 bg-green-600 px-3 py-5 text-lg font-medium text-white"
			>
				Register as Tourist
			</button>

			<button
				type="submit"
				class="mt-10 block w-full rounded-lg h-16 bg-green-600 px-3 py-5 text-lg font-medium text-white"
			>
				Register as Host
			</button>

			<button
				type="submit"
				class="mt-10 block w-full rounded-lg h-16 bg-green-600 px-3 py-5 text-lg font-medium text-white"
			>
				Register as Guide
			</button>

			<p class="mt-16 text-center text-sm text-gray-500">
				Have account already?
				<a class="underline" href="">Log in</a>
			</p>
		</div>
	</div>

</body>
</html>