<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link href='{% static "css/style.css" %}' rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>My Farms</title>
    <div class="flex justify-center">
      <div class="search-wrapper">
    <label for="search">Search Farms</label>
    <input type="search" id="search" data-search>
  </div>
  <div class="user-cards" data-user-cards-container></div>
  <template data-user-template>
    <div class="card">
      <div class="header" data-header></div>
      <div class="body" data-body></div>
    </div>
  </template>
        <div class="flex items-center justify-center">
        <div class="datepicker relative form-floating mb-3 xl:w-96">
            <input type="text"
            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            placeholder="Select a date" />
        <label for="floatingInput" class="text-gray-700">Select a date</label>
        </div>
      </div>
    </div>
</head>
<body>

</body>
</html>